.table {
  margin-bottom: 0;
}

.table th,
.table td {
  vertical-align: middle;
}

.form-control {
  max-width: 500px;
}

.pagination {
  margin-top: 20px;
}

.img-thumbnail {
  border-radius: 8px;
}

.modal-content {
  border-radius: 10px;
}

.modal-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.badge {
  font-size: 0.9em;
  padding: 0.5em 1em;
}

.btn-productos {
  background-color: #6f42c1; /* Morado para el botón de productos */
  border-color: #6f42c1;
  color: white;
}

.btn-productos:hover {
  background-color: #5a32a3;
  border-color: #5a32a3;
}